.currency-rate {
    font-size: 15px;
    text-align: center;
}

.currency-code {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
}

.flag-icon {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.flag-icon:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}

.currency-tile:hover {
    transform: translateY(-3px) scale(1.02);
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.currency-tile.selected {
    background-color: #cacaca;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.currency-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}