.converter-form {
    border: 2px solid #E0E0E0;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background: #FAFAFA;
    transition: box-shadow 0.3s ease;
    padding: 20px;
}

.converter-form:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}


.form-currency-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.currency-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-p {
    margin-bottom: 10px;
    font-weight: 500;
    color: #3A3A3A;
}

.currency-select {
    display: flex;
    align-items: center;
    min-height: 45px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #cacaca;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 1px solid #e8e8e8;
    border-radius: 16px;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}

.currency-select:hover {
    background-color: #D0E0E0;
}

.exchange-rate-result {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    background: #FEF8D8;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.exchange-rate-result.show {
    opacity: 1;
    transform: translateY(0);
}

.ripple-wrapper {
    display: inline-block;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.submit-button {
    width: 100%;
    min-height: 52px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    background: #A0C4C4;
    color: #fff;
    border: none;
    outline: none;
    transition: background 0.3s, transform 0.3s;
}

.submit-button:hover {
    background: #88B0B0;
    transform: translateY(-2px);
}

@media (max-width: 768px) {

    .converter-form {
        padding-right: 5px;
    }

    .form-currency-group {
        flex-direction: column;
        align-items: center;
    }

    .currency-block {
        width: 100%;
        max-width: 300px;
    }

    .currency-select {
        width: 100%;
    }

    .submit-button {
        font-size: 1.2rem;
    }
}