.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.currency-calculator-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .currency-calculator-container {
        padding: 0 5px;
    }
}