html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Circular, sans-serif !important;
    color: #222222;
}

.container {
    padding: 0 15%;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}

.error-message {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #c13515;
    animation: fadeIn 0.5s ease-out, shake 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .container {
        padding: 0 5px;
    }
}

@media (max-width: 500px), (max-height: 500px) {
    body {
        display: none;
    }

    html::before {
        content: "Włącz tryb tylko dla komputera";
        display: block;
        text-align: center;
        font-size: 100%;
        color: red;
        padding: 20%;
    }
}